body{
    font-family: monospace;
    background-image: url(../../../Framework/public/images/fondoM.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;/*centrar siempre*/
}
.container-table{
    width: 90%;
    background: white;
    margin: 50px auto;
    box-shadow: 0 0 20px #dbab74;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-auto-rows: 50px;
}
.table-title{
    grid-column-start: 1;
    grid-column-end: 8;

    background: #dbab74;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.9em;
}
.table__heder,.table__item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.table__heder{
    font-weight: bold;
    font-size: 1.5em;
}
.table__item{
    padding: 10px;
    font-size: 1.2em;
    background: #fff2df;
}
.login-box{
    white: 258px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}
.login-box h1{
    float: left;
    font-size: 40px;
    border-bottom: 6px solid  #dbab74;
    margin-bottom: 50px;
    padding: 13px 0;
}
.titulo{

}

.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid  #dbab74;
}
.textbox i{
    width: 26px;
    float: left;
    text-align: center;
}
.textbox input{
    border: none;
    outline: none;
    background: #ff9e6f;
    color: white;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}
.btn{
    width: 100%;
    background: none;
    border: 2px solid #dbab74;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}
#principal{
    width: 900px;
    height: auto;
    overflow: #dbab74;
    border: none;
    margin: auto;

    background: none;
    color: rgb(250, 250, 250);
    /**/
    text-align: center;
    border: none ;
    background: none;
    text-align: center;
}

#logo{
    width: 350px;
    height: 100px;
    border: none;
    float: left;
    background: none;
    color: rgb(250, 250, 250);
}
.menu{
    width: 460px;
    height: 40px;
    border: none;
    float: right;
    margin-top: 40px;
    background: none;
}


.menu ul li{
    list-style: none;
    float: left;
}

.menu ul li a{
    text-decoration: none;
    padding: 10px 15px;
    border: 0px solid rgb(255, 255, 255);
    color: rgb(250, 250, 250);
}
.menu ul li a:hover{
    background:  #dbab74;
    color: rgb(0, 0, 0);
    transition: background 1s, color 1s ;
}
.btn:hover{
    background:  #dbab74;
    color: rgb(0, 0, 0);
    transition: background 1s, color 1s ;
}


footer{
    width: 900px;
    height:100px;
    text-align: center;
    border: none ;
    background: none;
    text-align: center;
    color: rgb(250, 250, 250);
}
#footer p{
    width: 1000px;
    height:500px;
    text-align: center;
    border: none ;
    background: none;
    text-align: center;
    color: rgb(250, 250, 250);

}